[submodule "curso-alura-flutter-introducao"]
	path = curso-alura-flutter-introducao
	url = https://github.com/rsferreirawork/curso-alura-flutter-introducao.git
[submodule "livro-casadocodigo-iniciandocomflutterframework"]
	path = livro-casadocodigo-iniciandocomflutterframework
	url = https://github.com/rsferreirawork/livro-casadocodigo-iniciandocomflutterframework.git
[submodule "curso_alura_flutter_fundamentos"]
	path = curso_alura_flutter_fundamentos
	url = https://github.com/rsferreirawork/curso_alura_flutter_fundamentos.git
